* { margin: 0; padding: 0; border: none;}

body {
         background-color: #52371a;
     }

.pagehome {
                background-color: #e2d5ab;
                width: 79%;
                margin: auto;
                height: 1725px;
               
          }
            
.pagereadourhistory {
                        background-color: #e2d5ab;
                        width: 79%;
                        margin: auto;
                        height: 1750px;
                    }
    
.pageaboutus {
                    background-color: #e2d5ab;
                    width: 79%;
                    margin: auto;
                    height: 1840px;
              }

.pagegallery {
                    background-color: #e2d5ab;
                    width: 79%;
                    margin: auto;
                    height: 2650px;
             }

.pagemusicevents {
                    background-color: #e2d5ab;
                    width: 79%;
                    margin: auto;
                    height: 3000px;
                    
             }

.pagecontactus {
                    background-color: #e2d5ab;
                    width: 79%;
                    margin: auto;
                    height: 1950px;
              }

.pagegift {
                    background-color: #e2d5ab;
                    width: 79%;
                    margin: auto;
                    height: 1630px;
              }

.pagewhatsnew {
                    background-color: #e2d5ab;
                    width: 79%;
                    margin: auto;
                    height: 1630px;
              }



.pagedrink {
                    background-color: #e2d5ab;
                    width: 79%;
                    margin: auto;
                    height: 1650px;
              }

.pagefoods {
                    background-color: #e2d5ab;
                    width: 79%;
                    margin: auto;
                    height: 1640px;
              }
.cafename {
                           
                font-family: Organon Sans;
                font-size: 40px;
                text-align: center;
                color: #52371a;
                padding-top: 30px;
                padding-bottom: 15px;
                text-decoration: none;
                display: block;
                letter-spacing: 1px;
          }
            
.logo {
            display:block;
            margin: auto;
            width: 100px;
      }


.navbar  {
            margin-top: 40px;
          }
            
.navbar > ul {
                    list-style-type: none;
                    height: 50px;
                    width: 88%;
                    margin: auto;
                    display: block;
             }
            
.navbar > ul > li {
                        float: left;
                        display: block;
                        margin: 6px;
                     
                        background-color: #b72027;
                    
                        
                       
                  }
            
.navbar > ul > li > a   {
                            text-decoration: none;
                            color: #e2d5ab;
                            font-size: 16.2px;
                            font-family: Calibri;
                            padding: 15px 18px;
                            display: block;
                        }
            
.navbar > ul > li > a:hover   {
                                    background-color: #e2d5ab;
                                    color: #52371a;
                              }

.dropdown-content > a {
                            text-decoration: none;
                            color: #e2d5ab;
                            font-family: Calibri;
                            font-size: 16px;
                            display: block;
                           
                            padding: 10px 22px;
                            margin-top: 10px;
                            background-color: #b72027;
                            text-align: center;
                      }

.dropdown-content > a:hover {
                                    background-color: #e2d5ab;
                                    color: #52371a;
                                        
                            }

.dropdown-content {
                        display: none;
                        position: absolute;
                  }

.dropdown:hover .dropdown-content{
                                    display: block;
                                 }
            

.gallery1 {
                            width: 82.5%;
                            display: block;
                            margin: auto;
                            margin-top: 50px;
                            border: 1px dotted #52371a;
                            
         }

.content1 {
                font-family: Calibri;
                font-size: 15px;
                width: 75%;
                margin: auto;
                letter-spacing: 1px;
                margin-top: 55px;
                margin-bottom: 35px;
                text-align: justify;
                color: #52371a;
                
            }

.content2 {
                font-family: Calibri;
                font-size: 15px;
                letter-spacing: 1px;
                margin-left: 135px;
                margin-bottom: 20px;
                color: #52371a;
            }
.gallery2, .gallery3, .gallery4 {
                                        border: 2px solid #52371a;
                                        width: 275px;
                                        height: 351px;
                                        margin-top: 30px;
                                        display: block;
                                        background-color: #b72027;
                                        color: #e2d5ab;
                                }

.gallery2 > p, .gallery3 > p, .gallery4 > p {
                                                    text-align: center;
                                                    font-family: Calibri;
                                                    font-size: 19px;
                                                    margin-top: 9px;
                                                    
                                                    
                                            }

.gallery2:hover, .gallery3:hover, .gallery4:hover {
                                                       opacity: 0.5;
                                                  }

         
.navbaroption  {
                    font-family: Calibri;
                    font-size: 50px;
                    color: #e2d5ab;
                    background-color: #b72027;
                    text-align: center;
                    border: 2px solid black;
                    width: 30%;
                    height: 70px;
                    margin: auto;
                    margin-top: 40px;
                    margin-bottom: 52px;
                    border-radius: 80%;
                    vertical-align: middle;
                    box-shadow: 1px 11px 20px black;
                }

.block {
                width: 80%;
                margin: auto;
                border-top: dotted 1px #52371a;
                border-bottom: dotted 1px #52371a;
                height: 55px;
                margin-top: 45px;
                
                            
        }
            
.block > p {
                color: #52371a;
                font-family: Calibri;
                font-size: 30px;
                text-align: center;
                margin-top: 8px;
                
           }


            


            
.images {
                width: 80%;
                display: block;
                margin: auto;
                margin-top: 70px;
                margin-bottom: 70px;
        }
            
.image1 {     
              float: left;
              margin-right: 40px;
        }
            
.footer  {
              background-color: #b72027;
              width: 79%;
              margin: auto;
              height: 200px;
              padding-top: 20px;
            
         }
        
.head {
         text-align: center;
        color: #e2d5ab;
        font-family: Calibri;
        font-size: 20px;
        
     }
        
.para {
            color: #e2d5ab;
            font-family: Calibri;
            font-size: 13px;
            letter-spacing: 1.5px;
            text-align: center;
            margin-top: 5px;
            margin-bottom: 10px;
            
            padding-bottom: 0px;
      }

.one  {
            margin-bottom: 5px;
      }
            
.last {
           color: #e2d5ab;
           text-align: center;
           font-size: 13px;
           letter-spacing: 1.5px;
           padding: 5px;
         
           
     }

.column {
            border: 1px dotted #52371a;
        
        }



.button {       
                      
                        margin-left: 352px;
                        border: 1px solid black;
                        width: 300px;
                        background-color: #b72027;
                        border-radius: 15px;
                        text-decoration: none;
                        color: #e2d5ab;
                        font-family: Organon Sans;
                        font-size: 25px;
                        text-align: center;
                        padding: 20px;
                        letter-spacing: 2px;
                        box-shadow: 1px 11px 20px black;
                        display: block;
                }
            
.button:hover {
                                
                                color: #52371a;
                                background-color: #e2d5ab;
                      }

textarea {
                width:300px;
                height:225px;
                border:1px solid #52371a;
                margin:20px;
                margin-left:0px;
                overflow: hidden;
}

.submit {
                width: 150px;
                height: 40px;
                border: 2px solid black;
                color: #e2d5ab;
                background-color: #b72027;
                font-family: Calibri;
                font-size: 24px;
                letter-spacing: 2px;
}

.submit:hover {
                    background-color: #e2d5ab;
                    color: #52371a;
}

.secondpart > b {
                    margin-top: 0px;
                    
                    display: inline-block;
                    font-family: Calibri;
                    color: white;
                    background-color: #b6281a;
                    border: solid 1px #b6281a;
                    width: 100px;
                    height: 30px;
                    text-align: center;
                    padding: 8px;
                    border-radius: 50%;
                    font-size: 25px;
                
}

.second {           margin-left: 670px;
                    margin-top: 40px;
                    margin-bottom: 32px;
                    
}

.drop {
    position: relative;
    display: inline-block;
}

.drop-content {
    display: none;
    position: absolute;
    left: 200px;
    top: 10px;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width:400px;
    height: 400px;
}

.disc {
            color: black;
            background-color: white;
            font-family: Calibri;
            font-size: 30px;
            text-align: center;
            letter-spacing: 2px;
            margin-top: 12px;
}

.drop:hover .drop-content {
    display: block;
}

table, tr, th, td {
            border: 2px solid black;
            border-collapse: collapse;
}



th {
        color: #e2d5ab;
        font-family: Calibri;
        font-size: 20px;
        background-color: #b72027;
        padding: 15px;
}

table {
            margin: auto;
            margin-top: 55px;
}

td {
            padding: 30px;
            font-family: Calibri;
            color: #52371a;
            font-size: 20px;
            text-align: center;
}

