* {
    margin: 0px;
}

.First_Navbar {
    background-color: darkred;
    width: 100%;
    height: 50px;
}

.First_Navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: darkred;
}

.First_Navbar ul li {
    float: left;
}

.First_Navbar ul li a {
    display: block;
    color: white;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.First_Navbar ul li a:hover {
    background-color: brown;
}

.First_Nav_Li_1 {
    margin-right: 648.5px;
    background-color: brown;
    font-size: 20px;
    padding: 11.5px 13px;
}

.First_Nav_Li_2 {
    margin-right: 5px;
    font-size: 17px;
    padding: 14px 13px;
}

.First_Nav_Li_3 {
    margin-right: 5px;
    font-size: 17px;
    padding: 14px 13px;
}

.First_Nav_Li_4 {
    margin-right: 5px;
    font-size: 17px;
    padding: 14px 13px;
}

.First_Nav_Li_5 {
    margin-right: 5px;
    font-size: 17px;
    padding: 14px 13px;
}

.First_Nav_Li_6 {
    margin-right: 0px;
    font-size: 17px;
    padding: 14px 13px;
}

.Second_Navbar {
    background-color: black;
    width: 100%;
    height: 36px;
    text-align: center;
    /* display: flex;
                   align-content: center;
                   align-items: center; */
}

.Second_Navbar ul {
    list-style-type: none;
    background-color: black;
    padding: 0;
    margin: 0;
}

.Second_Navbar ul li {
    float: left;
}

.Second_Navbar ul li a {
    display: block;
    color: white;
    padding: 5.5px 5.5px 5.5px 5.5px;
    text-decoration: none;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Second_Navbar ul li a:hover {
    background-color: black;
}

.section {
    margin-top: 0px;
}

.main-image {
    width: 100%;
    height: 400px;
    margin: 0;
    display: block;
}

/* @media only screen and (max-width: 600px) {
    body {
        background-color: black;
    }
} */